body{
	background-color: crimson;
	display: flex;
	align-items: center;
	justify-content: center;
}

#cajita{
	width: 300px;
	height: 300px;
	border: solid red 5px;
	border-radius: 50%;
	transition: 2s;
}

#cajita:hover{
	box-shadow: 0 0 50px white;
}
